{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title_block %} {{ title }} {% endblock title_block %}

{% block body_block %}

<div class="container shadow-sm p-5 my-3 w-75 bg-white">

    <h2 class="text-center">Sign Up to Django</h2>
    <form  method="POST">

        {{ form|crispy }}
        {% csrf_token %}

        <input type="submit" value="Sign Up" class="btn btn-primary btn-md w-100 mt-2">

        <div class="container mt-4">

            <p class="text-center">Already have an account? <a href="{% url 'App_Login:login' %}" class="text-decoration-none" >Login</a></p>

        </div>

    </form>

</div>

{% endblock body_block %}